.invisible{
	opacity: 0;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.off{
	display: none;
}



#popup .closed{

}

.li-highlight{
	background: rgba(126,126,126,0.2);
}


.hi{
	z-index: 10000000000;
	position: fixed;

}


.content .job-card.expanded-job{
	width: 100vw;
	height: 100vh;
	position: relative;
	margin-top: 0px;
	padding: 15px;
	border-radius: 0px;
	background: white;
	-webkit-transition: all 0.3s; /* Safari */
  	transition: all 0.3s;
}